name: Trigger E2E Tests

on:
  push:
    branches:
      - main     
      
jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Send dispatch to Cypress Repo
        uses: peter-evans/repository-dispatch@v3
        with:
          # This should be the name of your Cypress repository
          repository: Jiggle-Wallet/Cypress 
          
          # This must match the listener type in the Cypress workflow
          event-type: code-push-trigger 
          
          # The payload is now minimal since the Cypress side hardcodes the spec file.
          client-payload: >
            {
              "repo": "${{ github.repository }}", 
              "branch": "${{ github.ref_name }}"
            }
          
          # This secret must be created in the current (sending) application repository
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
